.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dashboard {
    flex-wrap: wrap;
    width: 100%;
  }
  
  @media (max-width: 767px) {
    .dashboard {
      margin-left: 25px;
  
    }
  
    .box {
      display: inline;
    }
  }
  
  
  .buttons {
    margin-top: 15px;
  }
  
  .button {
    font-family: 'Roboto', sans-serif;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--background-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    color: var(--text-color);
  }
  
  
  
  .buy {
    font-family: 'Roboto', sans-serif;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  
    background-color: #2A27A4;
    color: white;
  }
  
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  
  .totalWorth {
    margin: 10px;
    margin-top: 25px;
  }
  
  
  
  .search__container {
    padding-top: 64px;
  }
  
  .search__title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #ff8b88;
  }
  
  .search__input {
    display: block;
    margin-top: 20px;
    margin-right: 20px;
    width: 210px;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 14px;
    color: white;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 10px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }
  
  [data-theme="light"] .search__input {
    filter: none; /* Отключение инверсии для темной темы */
  }
  
  
  .drop-down {
    font-size: 14px;
    line-height: 14px;
    color: #575756;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23777' stroke-width='2'%3E%3Cpath d='M3 6h18M3 12h18M3 18h18'/%3E%3C/g%3E%3C/svg%3E");
  
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 10px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }
  
  .search__input::placeholder {
    color: #496FD3;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  
  .range {
    color: var(--text-color);
  }
  
  .search__input:hover,
  .search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #496FD3;
    border-radius: 0;
    background-position: 100% center;
  }
  
  [data-theme="light"] .search__input {
    filter: none; /* Отключение инверсии для темной темы */
  }
  
  .credits__container {
    margin-top: 24px;
  }
  
  .credits__text {
    text-align: center;
    font-size: 13px;
    line-height: 18px;
  }
  
  .credits__link {
    color: #ff8b88;
    text-decoration: none;
    transition: color 250ms ease-in;
  }
  
  .credits__link:hover,
  .credits__link:focus {
    color: #cc6e6b;
  }
  
  .dropdown {
    position: relative;
    width: 200px;
  }
  
  .dropdown__select {
    color: var(--text-color);
    margin-top: 23px;
    width: 200px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    z-index: 1;
    display: flex;
  }
  
  .dropdown::after {
    margin-top: 10px;
    content: '▼';
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 0;
  }
  
  .dropdown__select:focus {
    outline: none;
    border: 1px solid #00FF00;
    box-shadow: 0 0 0 2px rgba(0, 255, 0, 0.5);
  }
  
  .dropdown__select option {
    background: #fff;
    color: #000;
  }
  
  .button {
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--background-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--background-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
  
  .button:hover,
  .button:focus {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  }
  
  
  .button:focus {
    outline: none;
  }
  
  
  
  .buy {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--background-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    background-color: #2A27A4;
    color: white;
  }
  
  .buy:hover,
  .buy:focus {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .buy:active {
    transform: translateY(1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  }
  
  
  .buy:focus {
    outline: none;
  }
  
  
  .alterboxes {
    display: none;
  }
  
  .create {
    margin-top: 10px;
  }

.main {
    width: 100%;
    height: 1000px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F9;
}

.center {
    width: 90%;
    height: 800px;
    background-color: blue;
}

.filters {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px 0;
  }
  
  .table th, .table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table .date {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .table .time {
    color: #888888;
  }
  
  .table .signature {
    font-family: monospace;
  }
  
  .main {
    width: 100%;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .center {
    width: 90%;
    background-color: #f9f9f9; /* Фон таблиці */
    color: black; /* Колір тексту */
  }
  
  .filters {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .table th, .table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
    color: black; /* Колір тексту заголовків таблиці */
  }
  
  .table .date {
    font-weight: bold;
    font-size: 1.2em;
    background-color: #e0e0e0; /* Фон для дати */
  }
  
  .table .row:nth-child(even) {
    background-color: #f2f2f2; /* Фон для парних рядків */
  }
  
  .table .row:nth-child(odd) {
    background-color: white; /* Фон для непарних рядків */
  }
  
  .table .cell {
    padding: 8px;
  }
  
  .table .time {
    color: #888888;
  }
  
  .table .signature {
    font-family: monospace;
  }
  

  .main {
    width: 100%;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .center {
    width: 90%;
    background-color: #f9f9f9; /* Фон таблиці */
    color: black; /* Колір тексту */
  }
  
  .filters {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .tableContainer {
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ddd; /* Додаємо рамку навколо таблиці */
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .table th, .table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
    color: black; /* Колір тексту заголовків таблиці */
  }
  
  .table .date {
    font-weight: bold;
    font-size: 1.2em;
    background-color: #e0e0e0; /* Фон для дати */
  }
  
  .table .row:nth-child(even) {
    background-color: #f2f2f2; /* Фон для парних рядків */
  }
  
  .table .row:nth-child(odd) {
    background-color: white; /* Фон для непарних рядків */
  }
  
  .table .cell {
    padding: 8px;
  }
  
  .table .time {
    color: #888888;
  }
  
  .table .signature {
    font-family: monospace;
  }
  
  .main {
    width: 100%;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .center {
    width: 90%;
    background-color: #f9f9f9; /* Фон таблиці */
    color: black; /* Колір тексту */
  }
  
  .filters {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .tableContainer {
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ddd; /* Додаємо рамку навколо таблиці */
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .table th, .table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
    color: black; /* Колір тексту заголовків таблиці */
  }
  
  .table .date {
    font-weight: bold;
    font-size: 1.2em;
    background-color: #e0e0e0; /* Фон для дати */
  }
  
  .table .row:nth-child(even) {
    background-color: #f2f2f2; /* Фон для парних рядків */
  }
  
  .table .row:nth-child(odd) {
    background-color: white; /* Фон для непарних рядків */
  }
  
  .table .cell {
    padding: 8px;
  }
  
  .table .time {
    color: #888888;
  }
  
  .table .signature {
    font-family: monospace;
  }

  .main {
    width: 100%;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .center {
    width: 90%;
    background-color: #f9f9f9; /* Фон таблиці */
    color: black; /* Колір тексту */
  }
  
  .filters {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .tableContainer {
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ddd; /* Додаємо рамку навколо таблиці */
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .table th, .table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
    color: black; /* Колір тексту заголовків таблиці */
  }
  
  .table .date {
    font-weight: bold;
    font-size: 1.2em;
    background-color: #e0e0e0; /* Фон для дати */
  }
  
  .table .row:nth-child(even) {
    background-color: #f2f2f2; /* Фон для парних рядків */
  }
  
  .table .row:nth-child(odd) {
    background-color: white; /* Фон для непарних рядків */
  }
  
  .table .cell {
    padding: 8px;
  }
  
  .table .time {
    color: #888888;
  }
  
  .table .signature {
    font-family: monospace;
  }
  
  .main {
    width: 100%;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .center {
    width: 90%;
    background-color: #f9f9f9; /* Фон таблиці */
    color: black; /* Колір тексту */
  }
  
  .filters {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .tableContainer {
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ddd; /* Додаємо рамку навколо таблиці */
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px 0;
  }
  
  .table th, .table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
    color: black; /* Колір тексту заголовків таблиці */
    position: sticky;
    top: -1px;
    z-index: 1; /* Забезпечує, що заголовок буде над вмістом таблиці */
  }
  
  .table .date {
    font-weight: bold;
    font-size: 1.2em;
    background-color: #e0e0e0; /* Фон для дати */
  }
  
  .table .row:nth-child(even) {
    background-color: #f2f2f2; /* Фон для парних рядків */
  }
  
  .table .row:nth-child(odd) {
    background-color: white; /* Фон для непарних рядків */
  }
  
  .table .cell {
    padding: 8px;
  }
  
  .table .time {
    color: #888888;
  }
  
  .table .signature {
    font-family: monospace;
  }

  
  