.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mask {
    width: 200px;
    height: 60px;
    margin-top: 50px;
}

.titleblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

.content {
    display: flex;
    width: 90%;
}

.share {
    background-color: #bef5bd;
    border: 1px solid black;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 10px;
    cursor: pointer;
}

.share:hover {
    background-color: rgb(96, 244, 96);
}

.sharesvg {
    margin-right: 5px; 
    transition: fill 0.3s ease; 
}

.sharetext {
    margin: 0; 
}

.mainbox {
    display: flex;
    width: 90%;
    height: 300px;
}

.holder {
    width: 100%;
    display: flex;
    height: 150px;
    justify-content: space-between;
    margin-top: 50px;
}

.sonboxone {
    height: 150px;
    width: 20%;
    background-color: #00C0EF;
}

.sonboxtwo {
    height: 150px;
    width: 20%;
    background-color: blue;
}

.sonboxthree {
    height: 150px;
    width: 20%;
    background-color: orange;
}

.sonboxfour {
    height: 150px;
    width: 20%;
    background-color: #DD4D39;
}

.top {
    width: 100%;
    height: 75%;
    display: flex;
}

.left {
    width: 60%;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.num {
    margin: 0;
    color: white;
}

.text {
    color: white;
}

.mark {
    opacity: 0.5;
}

.bottom {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.btext {
    margin: 0;
    opacity: 1;
    color: white;
}

.arrow {
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s;
}

.menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
}

.menu.show {
    display: block;
}

.menuitem {
    padding: 10px;
    cursor: pointer;
}

.menuitem:hover {
    background-color: #f1f1f1;
}
