.dates {
    margin-top: 23px;
    margin-left: 20px;
    width: 210px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    z-index: 1;
    display: flex;
    color: var(--text-color);
    
}

.dropdownCalendar {
    position: absolute;
    z-index: 100;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

@media (max-width: 900px) {
    .dates {
        margin-left: 0;
    }
  }

.down {
    position: absolute;
    z-index: 100;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}