.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1100px;
}

.holder {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titlebox {
    width: 90%;
    height: 100px;
}

.mainbox, .mainboxtwo {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .mainbox, .mainboxtwo {
        flex-direction: row;
    }
}

.box, .boxtwo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .box, .boxtwo {
        width: 45%;
        height: 400px;
        margin-bottom: 0;
    }
}

.chart {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .chart {
        width: 400px;
        height: 600px; 
        margin-top: 0; 
    }
}
